<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text><h1>Beam</h1></ion-text>
  <ion-text>
    <p>Beam is a self-hosted experimental project that would allow service bodies communicate both within and to other service bodies.</p>
  </ion-text>

  <ion-text>
    <p>It also intends to serve as a source of truth for trusted servant contact information, the same principle way the BMLT handles meeting information.</p>
  </ion-text>

  <ion-text>
    <p>It uses the BMLT to retrieve information about the service structure and in the future various other details.</p>
  </ion-text>
</ion-content>
